.transaction-history {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  margin: 10px;
}

.transaction-history th,
.transaction-history td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.transaction-history th {
  background-color: black;
  font-weight: bold;
  color: white;
  text-align: center;
}

.transaction-history tr:nth-child(even) {
  background-color: #f9f9f9;
}
