.friend {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #fff;
  flex-direction: column;
}

.friend-avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.friend-name {
  font-weight: bold;
  margin-right: auto;
  text-align: center;
}

.friend-status {
  font-size: 0.9em;
  font-weight: bold;
}

.friend-status.online {
  color: green;
}

.friend-status.offline {
  color: red;
}
